* {
  box-sizing: border-box;
}
.form-container {
  background: #d9f0f9;
  padding: 1rem;
  width: 25rem;
  margin: 2rem auto;
  height: auto;
}
.form-container button {
  background: #5a92af;
  border: 1px solid #5a92af;
  padding: 0.35rem 1rem;
  border-radius: 5px;
  font-size: 15px;
  font-family: inherit;
  color: white;
  margin-top: 1rem;
}
.form-container button:hover,
.form-container button:focus {
  background: #d9f9f4;
  border: 2px solid #437d9b;
  color: #437d9b;
  cursor: pointer;
}
.form-container button:disabled,
.form-container button:disabled:hover,
.form-container button:disabled:focus {
  background: #cccc;
  color: black;
  border: #a1a1a1;
  cursor: not-allowed;
}

.form-container .invalid {
  background-color: #faacac;
  border: 2px solid red !important;
}

.form-container input:focus {
  outline: none;
  color: white;
  border: 1px solid #5a93aff5;
  background: #5a93af9c;
}
.form-container label {
  font-weight: bold;
}
.empty-error {
  color: red;
  margin: 0;
  font-size: 13px;
}

@media (max-width: 30rem) {
  .form-container {
    width: 100%;
    padding: 0.25rem;
  }
  .form-container button {
    display: block;
    margin: 2rem auto;
    width: 60%;
  }
}
@media (max-width: 10rem) {
  .form-container {
    background: #ccc;
  }
}
