.button {
  display: inline-block;
  text-align: center;
  background: #5a92af;
  border: 1px solid #5a92af;
  padding: 0.25rem 1rem;
  border-radius: 8px;
  font-size: 18px;
  font-family: inherit;
  color: white;
  margin-top: 1rem;
}
.button:hover,
.button:focus {
  background: #d9f9f4;
  border: 2px solid #437d9b;
  color: #437d9b;
  cursor: pointer;
}
.button:disabled,
.button:disabled:hover,
.button:disabled:focus {
  background: #cccc;
  color: black;
  border: #a1a1a1;
  cursor: not-allowed;
}
.cards {
  padding: 0rem 1rem;
}
.cards div {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0.5rem;
  border-bottom: solid 1px #a1a1a1;
  font-size: 1.25rem;
}

@media (max-width: 40rem) {
  .button {
    margin: 0 auto;
    font-size: 15px;
    display: block;
    margin-top: 1rem;
    width: 60%;
  }
  .cards div {
    flex-direction: column;
    align-items: center;
    padding: 1rem 0.5rem;
    border-bottom: solid 1px #a1a1a1;
    font-size: 1.25rem;
  }
}
