.cards {
  padding: 0rem 1rem;
}
.cards div {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0.5rem;
  border-bottom: solid 1px #a1a1a1;
  font-size: 1.25rem;
}

@media (max-width: 40rem) {
  .button {
    margin: 0 auto;
    font-size: 15px;
    display: block;
    margin-top: 1rem;
    width: 60%;
  }
  .cards div {
    flex-direction: column;
    align-items: center;
    padding: 1rem 0.5rem;
    border-bottom: solid 1px #a1a1a1;
    font-size: 1.25rem;
  }
}
